/* *{
    border: 1px solid red;
    padding: 10px;
    margin: 10;
}*/
/*reset css*/
h1,h2,h3,h4,h5,h6,figure,p{
    margin: 0;
    padding: 0;
}
.sombra-imagen{
    box-shadow: 0 0 5px darkgray; 
}

.container {
    width: 920px;
    margin: 0 auto;
    /* margin: 0;aplica a todos */
    /* margin: 0 0;el primero aplica top-bottom y el segundo riht-left */
    /* margin 0 0 0;top right-left bottom */
    /* margin 0 0 0 0;top eight bottom left */
    /* margin-top, margin-right, margin-bottom, margin-left */
}

#encabezado{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-content: center;
    
}
#encabezado figure{
    margin: 0;
    
}
#titulos * {
    margin: 0;
}
#encabezado h1{font-size: 1.2em;}
#encabezado h2{font-size: 1em;}
#encabezado h3{font-size: 0.9em;}
#encabezado h4{font-size: 0.8em;}


#menu{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: darkgray;
    
    
}
#menu li {
    list-style-type: none;
    padding: 0;
}
#menu>ul>li {
    display: inline-block;
}

#menu li a {
    text-decoration: none;
    color: black;
}
#menu>ul>li>a {
    padding: 10px;
    background-color: darkgray;
}
#menu li ul {
    display: none;
}
#menu>ul>li>a:hover {
    background-color: lightgray;
    transition: 0.5s;
}
#menu>ul {
    padding: 0;
}
#contenido{
    
}

/* NOTA IMPORTANTE DE INICIO */
#nota-importante{
    height: 360px;
    background-color: rgba(224, 163, 83, 0.53);
    margin: 10px 0;
    /* BOX SHADOW: HORIZONTAL  VERTICAL BLUR COLOR */
    box-shadow: 0 0 15px darkgray; 
    
}

#nota-importante figure{
    margin: 0;
}

#nota-importante img{
    border: 10px solid white;
    
}
#notas-secundarias{
    min-height: 300px;
    width: 700px;

    display: inline-block;
    
    
}
#notas-secundarias article{
    display: flex;
    background-image: url('../images/notas/separacion-notas/separacion-notas.png');/*aqui va la img de la sombra de abajo*/
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 40px;
    margin-bottom: 40px;
   
}
.imagen-nota-secundaria{
    position: relative;
    
}
.titulo-nota-secundaria {
    font-size: 1.6em;
    line-height: 0.9em;
    font-variant: small-caps;
}
.cuerpo-nota-secundaria {
    padding-left: 20px;
    padding-right: 10px;
}

.intro-nota-secundaria {
    text-align: justify;
    
    margin: 10px 0 !important;
}
.imagen-nota-secundaria span{
    position: absolute;
    top: 10px;
    left: -5px;
    padding: 5px 10px;
    background-color: crimson;
}
/*boton*/
.boton{
    background: #AA3521;
    display: inline-block;
    padding: 3px;
    box-shadow: 0px 2px 3px darkgray;
}
.boton>div{
    padding: 1px 20px;
    border: 1px solid rgba(255,255,255,.7);
}
.boton p{
    color: pink;
    font-variant: small-caps;
    font-size: 1.1em;
}

#publicidad{
    height: 300px;
    width: 220px;
    display: inline-block;
    
    
}
#banners{
    margin-top: 7px
}
.flexible{
    display: flex;
}

#programas{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 50px;
}
#redes-sociales{
    text-align: center;
    margin-bottom: 10px;
}
.facebook, .twitter{
    width: 33px;
    height: 33px;
    display: inline-block;
    text-indent: -999px;
}
.facebook{
    background: url('../images/facebook_twitter.png') 0 0;
}
.twitter{
    background: url('../images/facebook_twitter.png') -43px 0;
}
.facebook:hover{
    background: url('../images/facebook_twitter.png') 0 -43px;
}
.twitter:hover{
    background: url('../images/facebook_twitter.png') -43px -43px;
}

#pie-pagina {
    min-height: 150px;
    margin-top: 50px;
    /*background-color: rgba(185, 23, 129, 0.67);*/    
}
#politicas {
    text-align: center;
    border-top: 3px double lightgray;
    border-bottom: 3px double lightgray;
    padding:  5px;
}
#politicas abbr {
    cursor: help;
    border-bottom: 1px dotted lightgray;
}
#logo-sems{
    background-image:url(/12_proyecto_web/images/sems_footer.png);
    height: 60px;
    width: 215px;
    display: block;
    text-indent: -9999px;
    margin: auto;
}
#separador-sems{
    margin: 30px 0;
    position: relative;
}

#logo-sems::before, #logo-sems::after {
    content: "";
    border-top: 3px double lightgray;
    display: block;
    position: absolute;
    height: 2px;
    width: 340px;
    top: 30px;
}

#logo-sems::after {
    right: 0;
}
#logo-sems::before{
    left: 0;
}
#direccion{
    text-align: center;
    color: darkgrey;
    font-size: 0.8em;
}



